.icon-user {
    background-image: url('../images/icons/user.png') !important;
}

.icon-teacher {
    background-image: url('../images/icons/teacher.png') !important;
}

.icon-group {
    background-image: url('../images/icons/group.png') !important;
}

.icon-group-key {
    background-image: url('../images/icons/group_key.png') !important;
}

.icon-shutdown {
    background-image: url('../images/icons/shutdown.png') !important;
}

.icon-add {
    background-image: url('../images/icons/add.png') !important;
}

.icon-remove {
    background-image: url('../images/icons/delete.png') !important;
}

.icon-database {
    background-image: url('../images/icons/database_save.png') !important;
}

.icon-organisation {
    background-image: url('../images/icons/database_save.png') !important;
}

.icon-vcard {
    background-image: url('../images/icons/vcard_add.png') !important;
}

.icon-book {
    background-image: url('../images/icons/book_add.png') !important;
}

.icon-award_star {
    background-image: url('../images/icons/award_star_add.png') !important;
}

.icon-report_user {
    background-image: url('../images/icons/report_user.png') !important;
}